<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>

    <style type="text/css">



    </style>

</head>
<body>



<h1>stajProje</h1>

<form action="/process" method = "Post">
    <label for="fer">Phone Number : </label>

    <div class="input-box">
        <span class="fixed">+90 850 885 </span>
        <input value="" autofocus="autofocus" maxlength="4" name="firster"  id="fer" placeholder="...."/>
    </div>

    <div>
        <input type="submit" value="See the Price">
    </div>
</form>




</body>
</html>